*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    display: block;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

h3{
    color: #70C5CE;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px){
    body{
    width : 100% !important;
    height :  auto !important;
}}